.calculator-box {
    width: 300px;
    margin: auto;
    padding: 40px;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }

  .calculator-h1 {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 32px;
  }
  
  .calculator-display {
    background: #222;
    color: #fff;
    padding: 15px;
    font-size: 2rem;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
  }
  
  .calculator-display.output-active {
    color: #0f0; 
  }
  
  .calculator-display.input-active {
    color: #fff; 
  }
  
  
  .button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 5px; 
    padding: 10px;
    background: #f3f3f3;
  }
  
  .button-grid button {
    height: 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background: #ddd;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .button-grid button:hover {
    background: #bbb;
  }
  